@import url('https://fonts.googleapis.com/css2?family=Oi&family=Shizuru&display=swap');

body {
    background-color: #bfd7ea;
    font-family: "Shizuru", system-ui;
    
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
}

.header {
    background-color: #0b3954;
    font-size: 18px;
    color: #ff6663;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border: 12px solid #ff6663;
    width: 750px;
    height: 750px;
    margin: 24px;

    display: flex;
    align-self: center;
    flex-direction: column;
}

.node {
    border: 1px solid black;
    background-color: white;
    flex: 1;

    min-width: 5.5px;
}

.row {
    display: flex;
    flex: 1;
}